*{
    margin: 0; 
    padding: 0;
}
nav{
    background-color: greenyellow;
    border: solid;
}
nav a{
    text-decoration: none;
    margin: 50px;
    
}
#div1{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 20%;
    position: relative;
    top: 20px;
        
}

.divv{
    height: 100px;
    width: 100px;
    margin: 10px;
    display: inline-block;
    background-color: cyan;

}
#container{
    background-color: antiquewhite;
    border: solid;
    position: relative;
    top: 40px;
}

#divv4{
    position: fixed;
    bottom: 80px;
    right: 10px;
}
footer{
    background-color: gray;
    position: absolute;
    bottom: 0px;
    border: solid;
}